<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <mat-icon class="avatar" aria-hidden="false">account_circle</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile>
                <h4>Avatar</h4>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-divider></mat-divider>
        <ul class="menu">
            <li *ngFor="let item of menus" class="nav" routerLinkActive="active" routerLink="{{item.path}}">
                <mat-icon aria-hidden="false">{{item.icon}}</mat-icon>
                <span> {{item.text}}</span>
            </li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <app-header></app-header>
        <div class="container">
            <app-alert-panel></app-alert-panel>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>