.conttainer {
  position: relative;
  width: 100%;
}
.inner-container {
  float: right;
}

span {
  position: relative;
  top: -5px;
  font-size: 30px;
}

.mat-icon {
  margin-right: 33px;
  font-size: 40px;
}
