$primary-color-one: #66615b;
$primary-color-two: #f4f3ef;
$primary-color-three: #fff;
$primary-color-four: #fbc658;
$primary-color-five: #6bd098;
$primary-color-six: #ef8157;
$primary-color-seven: #9a9a9a;
$hearder-color: #ff9500;
