<div class="container">
    <div class="btn-group">
        <button class="btn-save" mat-button color="primary">
            <mat-icon>save</mat-icon>
            SAVE
        </button>
    </div>
    <mat-card>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>First Name*</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Last Name*</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Date Of Birth*</mat-label>
                <input type="date" matInput>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Gender*</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Role*</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>About Me</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
    </mat-card>

</div>