<div class="container">
    <div class="btn-create">
        <button class="btn-add" routerLink="/employee/employees/add-employee" mat-button color="primary">
            <mat-icon>add</mat-icon>
            CREATE
        </button>
    </div>
    <table mat-table [dataSource]="employees" class="mat-elevation-z8">
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let element">{{ element._user_firstName }}</td>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Laast Name</th>
            <td mat-cell *matCellDef="let element">{{ element._user_lastName }}</td>
        </ng-container>
        <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef>telephone</th>
            <td mat-cell *matCellDef="let element">{{ element._user_telephone }}</td>
        </ng-container>
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>Gender</th>
            <td mat-cell *matCellDef="let element">{{ element._user_gender }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element._user_email}}</td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="warn">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>